/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  scroll-behavior: smooth;

  font-family: "Rubik", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ecebe0; */
  background-color: whitesmoke;
  gap: 4rem;
}

.view-1 {
  display: flex;
  width: 100%;
}

.child {
  flex: 1;
  padding: 20px 40px;
}
.child-middle {
  flex: 2;
  background: url("../assets/Granulado/Grano-Pelicula-01.jpg"); /* Imagen de ruido */
  background-size: cover;
  filter: blur(0.5px) brightness(1.2); /* Ajusta para más efecto */
}

/* about component */
.about {
  align-content: center;
}
.song-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.song-title a {
  text-decoration: underline;
  color: #261201;
}
.song-title a:hover {
  text-decoration: none;
  color: #261201;
}
.date-title {
  font-size: 1rem;
  font-weight: lighter;
}

/* Album-Component */
.album-background {
  height: 90vh;
  width: 50vw;
  background: linear-gradient(
    0deg,
    rgba(241, 178, 21, 1) 50%,
    rgba(245, 232, 30, 1) 50%
  );

  /*   border-radius: 15px;*/
  /*   border-radius: 25px;
  box-shadow: -30px 30px 60px #929292, 30px -30px 60px #ffffff;
 */
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: -20px 20px 30px #969696, 20px -20px 30px #ffffff;
  position: relative;
}

.dot {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 45%;
  left: 46%;
  /* style 1
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset -20px 20px 30px #969696, inset 20px -20px 30px #ffffff; */

  /*   style 2*/
  border-radius: 145px;
  background: #e0e0e0;
  box-shadow: inset -5px 5px 9px #898989, inset 5px -5px 9px #ffffff;
}
/* Song Component */
.song {
  align-content: flex-end;
}
.song ul {
  list-style-type: none;
}
.song ul li {
  letter-spacing: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

/* Estilo general del menú */
.menu {
  list-style: none;
  padding: 10px;
}

.menu-item {
  position: relative; /* Necesario para posicionar el submenú */
  width: 300px;
}

.menu a {
  font-weight: 700;
  color: #261201e5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #f5e71e33;
  transform: scale(1.2);
}

/* Estilo del submenú */
.submenu {
  list-style: none;
  position: absolute;
  width: 300px;
  top: 100%; /* Aparece justo debajo del enlace "Gallery" */
  left: 0;
  padding: 10px 0;
  text-transform: uppercase;

  /* Inicialmente oculto con transparencia y desplazado hacia arriba */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s ease, transform 0.5s ease;
  pointer-events: none; /* Desactiva los clics cuando está oculto */
}

.submenu li a {
  padding: 5px 20px;
  display: block;
  color: #261201;
}

.submenu li a:hover {
  background-color: #f5e71e33;
  transform: scale(1.2);
}

/* Mostrar submenú cuando se activa */
.submenu--visible {
  opacity: 1; /* Hace visible el submenú */
  transform: translateY(0); /* Lo coloca en su posición original */
  pointer-events: auto; /* Activa los clics */
}

/* Titulo expandible */
.profile {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 70px; /* Inicialmente mostrar solo el texto corto */
}

h1 .short {
  color: #261201e5;
  display: block;
}

h1 .full {
  color: #261201e5;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 0.5s ease, width 0.5s ease;
}

/* Al hacer hover, expandir el título completo */
h1:hover {
  width: 150px; /* Ajusta el ancho al texto completo */
}

h1:hover .full {
  opacity: 1;
}

h1:hover .short {
  opacity: 0;
}

/* Gallery */
.gallery-grid {
  max-width: 1140px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  gap: 20px;
  padding: 20px 0;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img:nth-child(1) {
  grid-column-start: span 3;
}
.img:nth-child(4) {
  grid-column-start: span 2;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.interlude {
  width: 80%;
  height: 100vh;
  padding: 20px;
}

.interlude img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 30%;
}
.text-size-p {
  font-size: 1.3rem;
}
.gallery {
  width: 80%;
  height: 20vh;
  padding: 20px;
}

.contact {
  margin-top: 70px;
  height: 60vh;
  width: 80%;
  padding: 20px;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact p {
  font-size: 1.4rem;
  font-weight: 600;
}

.contact p a {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease;
  color: #261201;
}
.contact p a:hover {
  text-decoration: none;
}

.footer {
  padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .view-1 {
    flex-direction: column;
    width: 100vw;
    font-size: 1.2rem;
  }

  .child {
    padding-top: 40px;
  }

  .album-background {
    width: 80%;
    height: 35vh;
    margin: 20px auto;
  }
  .child-middle {
    flex: none;
  }

  .album-background .header {
    display: flex;
    justify-content: flex-end;
    width: 88vw;
  }
  .album-background .nav {
    display: none;
  }
  .album-background .nav a {
    width: 40%;
  }

  .dot {
    width: 2rem;
    height: 2rem;
    top: 45%;
    left: 46%;
  }
  .header {
    flex-direction: row;
    align-items: center;
  }

  .song-title {
    font-size: 1.5rem;
  }

  .interlude {
    height: fit-content;
  }

  .interlude img {
    margin: 10px auto;
    margin-top: 40px;
    width: 50%;
  }

  .gallery {
    height: fit-content;
  }

  .gallery-grid {
    margin: 0 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .post-title {
    font-style: italic;
    padding: 20px;
  }
  .contact {
    height: auto;
  }
  .contact p a {
    font-size: 1rem;
  }
  .contact p {
    font-size: 1rem;
  }
}
